h3, label {
     font-family: sans-serif;
}

hr {
    width: 50%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin: auto;
    margin-top: 20px;  
}

.dashboard {
    text-align: center;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dcdcdc;
}

@media only screen and (max-width: 900px){
    hr, table{
        width: 75%;
    }
}

