h3, label {
     font-family: sans-serif;
}

hr {
    margin-top: 20px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border: 1px solid #dddddd;
    margin: auto;
    margin-top: 20px;  
    width: 100%;
}

td, th {
    /*border: 1px solid #dddddd; */
    text-align: center;
    padding: 8px;
}

.dashboard {
    width: 50%;
    margin: auto;
    text-align: center;
   
}


tr:nth-child(even) {
    background-color: #f5f5f5;
}

.btn-add {
    background-color: white;
    border-radius: 5px;
    border: 0.5px solid silver;
    transition-duration: 0.3s;
}

.btn-add:hover {
    background-color: #4CAF50;
    color: white;
}

.btn-delete {
    background-color: white;
    border-radius: 50%;
    border: 0.5px solid silver;
    transition-duration: 0.3s;
}

.btn-delete:hover {
   background-color: red; 
   color: white;
}

.label-activity, .label-date {
    margin-left: 20px;
}

@media only screen and (max-width: 900px){
    
    .dashboard {
        width: 100%;
    }

    hr, table{
        width: 75%;
    }
}

